<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Order's Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Order's Management System</a>
    </div>
    <ul class="nav navbar-nav">      
      <li><a href="orders">Orders</a></li>
      <li><a href="invoices">Invoices</a></li>
      <li><a href="products">Products</a></li>
      <li><a href="customers">Customers</a></li>
      <li><a href="suppliers">Suppliers</a></li>
    </ul>
  </div>
</nav>

  
<div class="container">   
    <div class="col-12 m-1 text-center"
        th:if="${!errors.isEmpty()}">
       <p class="alert alert-danger" th:each="error: ${errors}"
          th:text="${error.message}">Error message</p>
   </div>
    <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <div class="text-center">
                    <h2>Add Customer</h2>
                <br>
                <div class="col-7 text-center m-auto">
                    <form action="addCustomer" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-md-4 control-label text-right">Name:</label>
                            <div class="col-md-6">
                                <input type="text" name="name"
                                       id="name" class="form-control" />                                
                            </div>                            
                        </div>  
                        
                        <div class="form-group row">
                            <label for="address" class="col-md-4 control-label text-right">Address:</label>
                            <div class="col-md-6">
                                <input type="text" name="address"
                                       id="address" class="form-control"/>                                
                            </div>                            
                        </div>            
                        
                        <div class="form-group row">
                            <label for="city" class="col-md-4 control-label text-right">City:</label>
                            <div class="col-md-6">
                                <input type="text" name="city"
                                       id="city" class="form-control"/>                                
                            </div>                            
                        </div> 
                        
                        <div class="form-group row">
                            <label for="zipcode" class="col-md-4 control-label text-right">Zip-code:</label>
                            <div class="col-md-6">
                                <input type="text" name="zipcode"
                                       id="zipcode" class="form-control" />                                
                            </div>                            
                        </div> 
                        
                        <div class="form-group row">
                            <label for="email" class="col-md-4 control-label text-right">Email:</label>
                            <div class="col-md-6">
                                <input type="text" name="email"
                                       id="email" class="form-control"/>                                
                            </div>                            
                        </div> 
                        
                        <div class="form-group row">
                            <label for="gstNumber" class="col-md-4 control-label text-right">GST Number:</label>
                            <div class="col-md-6">
                                <input type="text" name="gstNumber"
                                       id="gstNumber" class="form-control" />
                            </div>                            
                        </div>            
                       
                        <div class="form-group row">
                            <label for="gstExtension" class="col-md-4 control-label text-right">GST Extension:</label>
                            <div class="col-md-6">
                                <input type="text" name="gstExtension"
                                       id="gstExtension" class="form-control" />                                
                            </div>                            
                        </div>            
                        
                        <div class="form-group row">
                            <label for="phone" class="col-md-4 control-label text-right">Phone Number:</label>
                            <div class="col-md-6">
                                <input type="text" name="phone"
                                       id="phone" class="form-control" />                                
                            </div>                            
                        </div>            
                        <br>
                        
                        <button type="submit" class="btn btn-primary">Add Customer</button>
                        <a href="/customers">
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </a>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>

    
</body>

<!--Footer-->
  <footer class="bg-light text-lg-start">
    
    <hr class="m-0" />

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://github.com/yuliethernandez/OrderManagmentSystem" target="_blank">GitHub</a>
    </div>
    <!-- Copyright -->
  </footer>

</html>

