<!DOCTYPE html>
<html lang="en">
<head>
  <title>Order's Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Order's Management System</a>
    </div>
    <ul class="nav navbar-nav">      
      <li><a href="orders">Orders</a></li>
      <li><a href="invoices">Invoices</a></li>
      <li><a href="products">Products</a></li>
      <li><a href="customers">Customers</a></li>
      <li><a href="suppliers">Suppliers</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">        
    <hr>
    <div class="row m-4 border ">
        <div class="col text-left m-3">
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Invoice #</th>
                    <th>Due Date</th>
                    <th>Ship Date</th>
                    <th>Sale Rep. Name</th>
                    <th>Total</th>
                    <th>HST Taxes</th>
                    <th>Order #</th>
                    <th>Details</th>
                    <th>Print</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="invoice: ${invoices}">
                    <td th:text="${invoice.id}">Invoice #</td>
                    <td th:text="${invoice.dueDate}">Due Date</td>
                    <td th:text="${invoice.shipDate}">Ship Date</td>
                    <td th:text="${invoice.saleRepName}">Sale Rep. Name</td>
                    <td th:text="${invoice.order.total}">Total</td>
                    <td th:text="${invoice.hstTax}">HST Taxes</td>
                    <td th:text="${invoice.order.id}">Order #</td>
                    <td><a href="#" th:href="@{/invoiceDetails(id=${invoice.id})}">Details</a></td>
                    <td><a href="#" th:href="@{/editInvoice(id=${invoice.id})}">Print</a></td>
                </tr>
                </tbody>                
            </table>
        </div>
    </div>  
</div>

<footer>
    <div class="footer">
        <p>Footer</p>
      </div>

</footer>
    
</body>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: black;
  width: 100%;
  color: white;
  text-align: center;
}
</style>

</html>
