<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Order's Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Order's Management System</a>
    </div>
    <ul class="nav navbar-nav">      
      <li><a href="orders">Orders</a></li>
      <li><a href="invoices">Invoices</a></li>
      <li><a href="products">Products</a></li>
      <li><a href="customers">Customers</a></li>
      <li><a href="suppliers">Suppliers</a></li>
    </ul>
  </div>
</nav>

  
<div class="container">
    
    <h3>Details of the product: <span th:utext="${product.name}"></span></h3>
          <hr>
    <div class="row m-4 border border-dark">
        <br>
        <div class="row">
            <div class="col-6 text-left"><strong>Name: </strong>
                <span th:utext="${product.name}">display name</span></div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 text-left"><strong>In Stock:</strong>
                <span th:text="${product.quantity}">display address</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 text-left"><strong>Description:</strong>
                <span th:text="${product.description}">display Description:</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 text-left"><strong>Taxes: </strong>
                <span th:if="${tax}">9.975% (GST)</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 text-left"><strong>Price: </strong>
                <span th:text="${product.price}">display Price:</span>
            </div>
        </div>
        
    </div>  
  
    <h3>Suppliers:</h3>
   
    <div class="col text-left m-3">
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Supplier's Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="supplier: ${product.suppliers}">
            <td th:text="${supplier.name}">Supplier's Name</td>
            <td th:text="${supplier.address}">Address</td>
            <td th:text="${supplier.email}">Email</td>
            <td><a href="#" th:href="@{/supplierDetails(id=${supplier.id})}">Details</a></td>
            <td><a href="#" th:href="@{/editSupplier(id=${supplier.id})}">Edit</a></td>
            <td><a href="#" th:href="@{/deleteSupplier(id=${supplier.id})}">Delete</a></td>
        </tr>
        </tbody>                
    </table>   

    <br>
    <div class="d-flex justify-content-between w-50 mx-auto mb-4">
        <a href="#" th:href="@{/editProduct(id=${product.id})}">
            <button type="button" class="btn btn btn-primary">Edit</button>
        </a>
        <a href="#" th:href="@{/deleteProduct(id=${product.id})}">
            <button type="button" class="btn btn btn-primary">Delete</button>
        </a>
        <a href="/products">
            <button type="button" class="btn btn-primary">Back to Products</button>
        </a>
    </div>
</div>

<footer>
    <div class="footer">
        <p>Footer</p>
      </div>

</footer>
    
</body>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: black;
  width: 100%;
  color: white;
  text-align: center;
}
</style>

</html>
